[submodule "interests"]
	path = interests
	url = https://github.com/dannyrappleyea/interests.git
[submodule "hacking"]
	path = hacking
	url = https://github.com/digitalreplica/hacking.git
[submodule "digitalreplica"]
	path = digitalreplica
	url = https://github.com/digitalreplica/digitalreplica.git
